### Required Assignment 5.1: Will the Customer Accept the Coupon?

**Context**

Imagine driving through town and a coupon is delivered to your cell phone for a restaurant near where you are driving. Would you accept that coupon and take a short detour to the restaurant? Would you accept the coupon but use it on a subsequent trip? Would you ignore the coupon entirely? What if the coupon was for a bar instead of a restaurant? What about a coffee house? Would you accept a bar coupon with a minor passenger in the car? What about if it was just you and your partner in the car? Would weather impact the rate of acceptance? What about the time of day?

Obviously, proximity to the business is a factor on whether the coupon is delivered to the driver or not, but what are the factors that determine whether a driver accepts the coupon once it is delivered to them? How would you determine whether a driver is likely to accept a coupon?

**Overview**

The goal of this project is to use what you know about visualizations and probability distributions to distinguish between customers who accepted a driving coupon versus those that did not.

**Data**

This data comes to us from the UCI Machine Learning repository and was collected via a survey on Amazon Mechanical Turk. The survey describes different driving scenarios including the destination, current time, weather, passenger, etc., and then ask the person whether he will accept the coupon if he is the driver. Answers that the user will drive there ‘right away’ or ‘later before the coupon expires’ are labeled as ‘Y = 1’ and answers ‘no, I do not want the coupon’ are labeled as ‘Y = 0’.  There are five different types of coupons -- less expensive restaurants (under \$20), coffee houses, carry out & take away, bar, and more expensive restaurants (\$20 - $50).

**Deliverables**

Your final product should be a brief report that highlights the differences between customers who did and did not accept the coupons.  To explore the data you will utilize your knowledge of plotting, statistical summaries, and visualization using Python. You will publish your findings in a public facing github repository as your first portfolio piece.

### Data Description
Keep in mind that these values mentioned below are average values.

The attributes of this data set include:
1. User attributes
    -  Gender: male, female
    -  Age: below 21, 21 to 25, 26 to 30, etc.
    -  Marital Status: single, married partner, unmarried partner, or widowed
    -  Number of children: 0, 1, or more than 1
    -  Education: high school, bachelors degree, associates degree, or graduate degree
    -  Occupation: architecture & engineering, business & financial, etc.
    -  Annual income: less than \\$12500, \\$12500 - \\$24999, \\$25000 - \\$37499, etc.
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she buys takeaway food: 0, less than 1, 1 to 3, 4 to 8 or greater
    than 8
    -  Number of times that he/she goes to a coffee house: 0, less than 1, 1 to 3, 4 to 8 or
    greater than 8
    -  Number of times that he/she eats at a restaurant with average expense less than \\$20 per
    person: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    

2. Contextual attributes
    - Driving destination: home, work, or no urgent destination
    - Location of user, coupon and destination: we provide a map to show the geographical
    location of the user, destination, and the venue, and we mark the distance between each
    two places with time of driving. The user can see whether the venue is in the same
    direction as the destination.
    - Weather: sunny, rainy, or snowy
    - Temperature: 30F, 55F, or 80F
    - Time: 10AM, 2PM, or 6PM
    - Passenger: alone, partner, kid(s), or friend(s)


3. Coupon attributes
    - time before it expires: 2 hours or one day

In [30]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

### Problems

Use the prompts below to get started with your data analysis.  

1. Read in the `coupons.csv` file.

In [31]:
data = pd.read_csv('../data/coupons.csv')

In [32]:
data.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

2. Investigate the dataset for missing or problematic data.

In [33]:
missing_values = data.isnull().sum()
print(missing_values[missing_values > 0])

car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
dtype: int64

In [34]:

missing_corr = data.isnull().corr()

# Display the correlation matrix
print("Correlation matrix of missing values:")
print(missing_corr)

Correlation matrix of missing values:
                      destination  passanger  weather  temperature  time  \
destination                   NaN        NaN      NaN          NaN   NaN
passanger                     NaN        NaN      NaN          NaN   NaN
weather                       NaN        NaN      NaN          NaN   NaN
temperature                   NaN        NaN      NaN          NaN   NaN
time                          NaN        NaN      NaN          NaN   NaN
coupon                        NaN        NaN      NaN          NaN   NaN
expiration                    NaN        NaN      NaN          NaN   NaN
gender                        NaN        NaN      NaN          NaN   NaN
age                           NaN        NaN      NaN          NaN   NaN
maritalStatus                 NaN        NaN      NaN          NaN   NaN
has_children                  NaN        NaN      NaN          NaN   NaN
education                     NaN        NaN      NaN          NaN   NaN
occupation                    NaN        NaN      NaN          NaN   NaN
income                        NaN        NaN      NaN          NaN   NaN
car                           NaN        NaN      NaN          NaN   NaN
Bar                           NaN        NaN      NaN          NaN   NaN
CoffeeHouse                   NaN        NaN      NaN          NaN   NaN
CarryAway                     NaN        NaN      NaN          NaN   NaN
RestaurantLessThan20          NaN        NaN      NaN          NaN   NaN
Restaurant20To50              NaN        NaN      NaN          NaN   NaN
toCoupon_GEQ5min              NaN        NaN      NaN          NaN   NaN
toCoupon_GEQ15min             NaN        NaN      NaN          NaN   NaN
toCoupon_GEQ25min             NaN        NaN      NaN          NaN   NaN
direction_same                NaN        NaN      NaN          NaN   NaN
direction_opp                 NaN        NaN      NaN          NaN   NaN
Y                             NaN        NaN      NaN          NaN   NaN

                      coupon  expiration  gender  age  maritalStatus  ...  \
destination              NaN         NaN     NaN  NaN            NaN  ...
passanger                NaN         NaN     NaN  NaN            NaN  ...
weather                  NaN         NaN     NaN  NaN            NaN  ...
temperature              NaN         NaN     NaN  NaN            NaN  ...
time                     NaN         NaN     NaN  NaN            NaN  ...
coupon                   NaN         NaN     NaN  NaN            NaN  ...
expiration               NaN         NaN     NaN  NaN            NaN  ...
gender                   NaN         NaN     NaN  NaN            NaN  ...
age                      NaN         NaN     NaN  NaN            NaN  ...
maritalStatus            NaN         NaN     NaN  NaN            NaN  ...
has_children             NaN         NaN     NaN  NaN            NaN  ...
education                NaN         NaN     NaN  NaN            NaN  ...
occupation               NaN         NaN     NaN  NaN            NaN  ...
income                   NaN         NaN     NaN  NaN            NaN  ...
car                      NaN         NaN     NaN  NaN            NaN  ...
Bar                      NaN         NaN     NaN  NaN            NaN  ...
CoffeeHouse              NaN         NaN     NaN  NaN            NaN  ...
CarryAway                NaN         NaN     NaN  NaN            NaN  ...
RestaurantLessThan20     NaN         NaN     NaN  NaN            NaN  ...
Restaurant20To50         NaN         NaN     NaN  NaN            NaN  ...
toCoupon_GEQ5min         NaN         NaN     NaN  NaN            NaN  ...
toCoupon_GEQ15min        NaN         NaN     NaN  NaN            NaN  ...
toCoupon_GEQ25min        NaN         NaN     NaN  NaN            NaN  ...
direction_same           NaN         NaN     NaN  NaN            NaN  ...
direction_opp            NaN         NaN     NaN  NaN            NaN  ...
Y                        NaN         NaN     NaN  NaN            NaN  ...

                      CoffeeHouse  CarryAway  RestaurantLessThan20  \
destination                   NaN        NaN                   NaN
passanger                     NaN        NaN                   NaN
weather                       NaN        NaN                   NaN
temperature                   NaN        NaN                   NaN
time                          NaN        NaN                   NaN
coupon                        NaN        NaN                   NaN
expiration                    NaN        NaN                   NaN
gender                        NaN        NaN                   NaN
age                           NaN        NaN                   NaN
maritalStatus                 NaN        NaN                   NaN
has_children                  NaN        NaN                   NaN
education                     NaN        NaN                   NaN
occupation                    NaN        NaN                   NaN
income                        NaN        NaN                   NaN
car                      0.012226   0.010172              0.009430
Bar                      0.267030   0.323693              0.350084
CoffeeHouse              1.000000   0.220958              0.240106
CarryAway                0.220958   1.000000              0.291959
RestaurantLessThan20     0.240106   0.291959              1.000000
Restaurant20To50         0.299919   0.238494              0.258843
toCoupon_GEQ5min              NaN        NaN                   NaN
toCoupon_GEQ15min             NaN        NaN                   NaN
toCoupon_GEQ25min             NaN        NaN                   NaN
direction_same                NaN        NaN                   NaN
direction_opp                 NaN        NaN                   NaN
Y                             NaN        NaN                   NaN

                      Restaurant20To50  toCoupon_GEQ5min  toCoupon_GEQ15min  \
destination                        NaN               NaN                NaN
passanger                          NaN               NaN                NaN
weather                            NaN               NaN                NaN
temperature                        NaN               NaN                NaN
time                               NaN               NaN                NaN
coupon                             NaN               NaN                NaN
expiration                         NaN               NaN                NaN
gender                             NaN               NaN                NaN
age                                NaN               NaN                NaN
maritalStatus                      NaN               NaN                NaN
has_children                       NaN               NaN                NaN
education                          NaN               NaN                NaN
occupation                         NaN               NaN                NaN
income                             NaN               NaN                NaN
car                           0.011397               NaN                NaN
Bar                           0.287487               NaN                NaN
CoffeeHouse                   0.299919               NaN                NaN
CarryAway                     0.238494               NaN                NaN
RestaurantLessThan20          0.258843               NaN                NaN
Restaurant20To50              1.000000               NaN                NaN
toCoupon_GEQ5min                   NaN               NaN                NaN
toCoupon_GEQ15min                  NaN               NaN                NaN
toCoupon_GEQ25min                  NaN               NaN                NaN
direction_same                     NaN               NaN                NaN
direction_opp                      NaN               NaN                NaN
Y                                  NaN               NaN                NaN

                      toCoupon_GEQ25min  direction_same  direction_opp   Y
destination                         NaN             NaN            NaN NaN
passanger                           NaN             NaN            NaN NaN
weather                             NaN             NaN            NaN NaN
temperature                         NaN             NaN            NaN NaN
time                                NaN             NaN            NaN NaN
coupon                              NaN             NaN            NaN NaN
expiration                          NaN             NaN            NaN NaN
gender                              NaN             NaN            NaN NaN
age                                 NaN             NaN            NaN NaN
maritalStatus                       NaN             NaN            NaN NaN
has_children                        NaN             NaN            NaN NaN
education                           NaN             NaN            NaN NaN
occupation                          NaN             NaN            NaN NaN
income                              NaN             NaN            NaN NaN
car                                 NaN             NaN            NaN NaN
Bar                                 NaN             NaN            NaN NaN
CoffeeHouse                         NaN             NaN            NaN NaN
CarryAway                           NaN             NaN            NaN NaN
RestaurantLessThan20                NaN             NaN            NaN NaN
Restaurant20To50                    NaN             NaN            NaN NaN
toCoupon_GEQ5min                    NaN             NaN            NaN NaN
toCoupon_GEQ15min                   NaN             NaN            NaN NaN
toCoupon_GEQ25min                   NaN             NaN            NaN NaN
direction_same                      NaN             NaN            NaN NaN
direction_opp                       NaN             NaN            NaN NaN
Y                                   NaN             NaN            NaN NaN

[26 rows x 26 columns]

In [35]:
# Check for duplicate rows
duplicates = data.duplicated().sum()

print(f"Number of duplicate rows: {duplicates}")

# Display duplicate rows if any
if duplicates > 0:
    print("Duplicate rows:")
    print(data[data.duplicated()])

Number of duplicate rows: 74
Duplicate rows:
     destination passanger weather  temperature  time                 coupon  \
4192        Work     Alone   Sunny           80   7AM  Carry out & Take away
4236        Work     Alone   Sunny           80   7AM  Carry out & Take away
4280        Work     Alone   Sunny           80   7AM  Carry out & Take away
4324        Work     Alone   Sunny           80   7AM  Carry out & Take away
4409        Work     Alone   Sunny           80   7AM  Carry out & Take away
...          ...       ...     ...          ...   ...                    ...
8511        Home     Alone   Sunny           80   6PM                    Bar
8512        Home   Partner   Sunny           30  10PM  Carry out & Take away
8513        Work     Alone   Rainy           55   7AM        Restaurant(<20)
8515        Work     Alone   Snowy           30   7AM      Restaurant(20-50)
8516        Work     Alone   Sunny           80   7AM        Restaurant(<20)

     expiration  gender age    maritalStatus  ...  CoffeeHouse CarryAway  \
4192         1d    Male  26           Single  ...        never       1~3
4236         1d    Male  26           Single  ...          gt8       gt8
4280         1d  Female  26           Single  ...        never       4~8
4324         1d  Female  46           Single  ...        never       4~8
4409         1d  Female  21           Single  ...        never     less1
...         ...     ...  ..              ...  ...          ...       ...
8511         2h    Male  46  Married partner  ...          1~3       1~3
8512         2h    Male  46  Married partner  ...          1~3       1~3
8513         2h    Male  46  Married partner  ...          1~3       1~3
8515         1d    Male  46  Married partner  ...          1~3       1~3
8516         1d    Male  46  Married partner  ...          1~3       1~3

     RestaurantLessThan20 Restaurant20To50 toCoupon_GEQ5min toCoupon_GEQ15min  \
4192                less1            less1                1                 1
4236                  4~8            less1                1                 1
4280                  1~3            less1                1                 1
4324                  1~3              1~3                1                 1
4409                  1~3            never                1                 1
...                   ...              ...              ...               ...
8511                less1              1~3                1                 0
8512                less1              1~3                1                 1
8513                less1              1~3                1                 1
8515                less1              1~3                1                 1
8516                less1              1~3                1                 0

     toCoupon_GEQ25min direction_same direction_opp  Y
4192                 1              0             1  1
4236                 1              0             1  1
4280                 1              0             1  1
4324                 1              0             1  1
4409                 1              0             1  0
...                ...            ...           ... ..
8511                 0              1             0  1
8512                 0              0             1  1
8513                 1              0             1  0
8515                 1              0             1  0
8516                 0              1             0  1

[74 rows x 26 columns]

3. Decide what to do about your missing data -- drop, replace, other...

In [36]:
# Remove duplicate rows
data_cleaned = data.drop_duplicates()

# Display the number of rows after removing duplicates
print(f"Number of rows after removing duplicates: {data_cleaned.shape[0]}")

Number of rows after removing duplicates: 12610

In [37]:
# Verify that no duplicate rows remain
remaining_duplicates = data_cleaned.duplicated().sum()

print(f"Number of remaining duplicate rows: {remaining_duplicates}")

Number of remaining duplicate rows: 0

In [42]:
# Save the cleaned dataset to a new file
print(data_cleaned.head())

save_path = '../data/cleaned_coupon_dataset.csv'

# Save the cleaned dataset to a new file
data_cleaned.to_csv(save_path, index=False)

       destination  passanger weather  temperature  time  \
0  No Urgent Place      Alone   Sunny           55   2PM
1  No Urgent Place  Friend(s)   Sunny           80  10AM
2  No Urgent Place  Friend(s)   Sunny           80  10AM
3  No Urgent Place  Friend(s)   Sunny           80   2PM
4  No Urgent Place  Friend(s)   Sunny           80   2PM

                  coupon expiration  gender age      maritalStatus  ...  \
0        Restaurant(<20)         1d  Female  21  Unmarried partner  ...
1           Coffee House         2h  Female  21  Unmarried partner  ...
2  Carry out & Take away         2h  Female  21  Unmarried partner  ...
3           Coffee House         2h  Female  21  Unmarried partner  ...
4           Coffee House         1d  Female  21  Unmarried partner  ...

   CoffeeHouse CarryAway RestaurantLessThan20 Restaurant20To50  \
0        never       NaN                  4~8              1~3
1        never       NaN                  4~8              1~3
2        never       NaN                  4~8              1~3
3        never       NaN                  4~8              1~3
4        never       NaN                  4~8              1~3

  toCoupon_GEQ5min toCoupon_GEQ15min toCoupon_GEQ25min direction_same  \
0                1                 0                 0              0
1                1                 0                 0              0
2                1                 1                 0              0
3                1                 1                 0              0
4                1                 1                 0              0

  direction_opp  Y
0             1  1
1             1  0
2             1  1
3             1  0
4             1  0

[5 rows x 26 columns]

4. What proportion of the total observations chose to accept the coupon?

5. Use a bar plot to visualize the `coupon` column.

6. Use a histogram to visualize the temperature column.

**Investigating the Bar Coupons**

Now, we will lead you through an exploration of just the bar related coupons.  

1. Create a new `DataFrame` that contains just the bar coupons.

2. What proportion of bar coupons were accepted?

3. Compare the acceptance rate between those who went to a bar 3 or fewer times a month to those who went more.

4. Compare the acceptance rate between drivers who go to a bar more than once a month and are over the age of 25 to the all others.  Is there a difference?

5. Use the same process to compare the acceptance rate between drivers who go to bars more than once a month and had passengers that were not a kid and had occupations other than farming, fishing, or forestry.

6. Compare the acceptance rates between those drivers who:

- go to bars more than once a month, had passengers that were not a kid, and were not widowed *OR*
- go to bars more than once a month and are under the age of 30 *OR*
- go to cheap restaurants more than 4 times a month and income is less than 50K.

7.  Based on these observations, what do you hypothesize about drivers who accepted the bar coupons?

### Independent Investigation

Using the bar coupon example as motivation, you are to explore one of the other coupon groups and try to determine the characteristics of passengers who accept the coupons.